MottledGame/.vs/MottledGame/v15/Server/sqlite3/storage.ide-wal
MottledGame/.vs/MottledGame/v15/Server/sqlite3/storage.ide-shm
MottledGame/.vs/MottledGame/v15/.suo
MottledGame/.vs/MottledGame/v15/Server/sqlite3/storage.ide
MottledGame/.vs/MottledGame/v15/Server/sqlite3/db.lock
